.footer{
    background-color: $foothead;
    color: $navbar_text-color;
    text-align: center;
    font-weight: bold;
    padding: 3vh;
}

@media screen and (min-width: 701px){

    .footer {
        font-size: 2em;
    }

}